.wrapper {
	height: 400px;
	width: 550px;
	margin: 60px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.display {
	font-family: 'Righteous', cursive;
	font-size: 4.5em;
	color: #D6DBDF;
}